<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathNoticias" value="z:\noticia_desde_form.txt"/>
    <add key="PathBitacora" value="d:\Logs\error.log"/>
    <add key="PathInfo" value="d:\Logs\info.log"/>
    <add key="TempData" value="z:\Temp\"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DemoIntroduccion;Integrated Security=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>